.callback-form {
    z-index: 500;
    display: none;
    background: #f2f2f2;
    position: fixed;
    top: 0;
    right: 0;
    width: 680px;
    max-width: 100%;
    height: 100%;
    padding: 40px 70px;
    color: var(--text-color);
}
.callback-form.order {
    z-index: 150;
    position: absolute;
    top: auto;
    bottom: 0;
    height: 840px;
}
.callback-form.order .bg-image {
    display: none;
}
.callback-form.call .form-title.order {display: none;}
.callback-form.order .form-title.call {display: none;}
.callback-form.call .info-message.order {display: none;}
.callback-form.order .info-message.call {display: none;}
.callback-form.call .message.order {display: none !important;}
.callback-form.order .message.call {display: none !important;}
.callback-form a {color: var(--text-color);text-decoration: underline;}
.callback-form .close-form {
    position: absolute;
    left: 47%;
    top: 5px;
    font-size: 43px;
    color: var(--additional-color);
}
.callback-form .close-form:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.callback-form .form-wrapper {}
.callback-form .form-title {font-family: MuseoSansCyrl500;color: var(--additional-color);font-size: 30px;text-align: center;margin: 40px 0 50px;}
#jsGetCallback {}
#jsGetCallback .subtitle {font-size: 14px;}
#jsGetCallback .active .subtitle {color: var(--additional-color);}
#jsGetCallback .active input {color: var(--additional-color); border-bottom: 1px solid var(--additional-color);}
#jsGetCallback textarea {width: 100%;background: 0;border:0; border-bottom: 1px solid var(--text-color);height:30px;}
#jsGetCallback .active textarea {color: var(--additional-color); border-bottom: 1px solid var(--additional-color);}
#jsGetCallback label {display: block; margin-top: 15px; padding-top: 5px;}
#jsGetCallback label input {width: 100%;border: 0;border-bottom: 1px solid var(--text-color);background: 0;}
#jsGetCallback .info-message {font-size: 14px;}
#jsGetCallback .info-message.order {margin: 30px 0;}
#jsGetCallback .send-button {
    margin: 45px auto;
    width: 270px;
    max-width: 95%;
    background-color: var(--main-color);
    text-align: center;
    cursor: pointer;
}
#jsGetCallback .send-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
#jsGetCallback .send-button input:hover {
    cursor: pointer;
}
#jsGetCallback .send-button input {
    padding: 15px;
    background: 0;
    border: 0;
    width: 100%;
}
.callback-form .detail-info {
    display: none;
}
.callback-form.order .detail-info {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px 30px; 
    margin-bottom: 15px;
}
.callback-form .detail-info .image {
    width: 90px; 
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.callback-form .detail-info .text {
    line-height: 1.25;
    padding-left: 20px;
}
.callback-form .detail-info .text p {
    margin-bottom: 0;
}
@media screen and (max-width: 768px) {
    .callback-form {
        padding: 25px; 
    }   
    .callback-form .close-form {
        left: 88%;
        top: -15px;
    }
    .callback-form .form-title {
        margin: 10px 0;
        font-size: 26px;
    }
    #jsGetCallback {
        font-size: 0.9em;
    }
    #jsGetCallback label {
        margin-top: 5px;
    }
    #jsGetCallback .send-button {
        margin-top: 25px;
        margin-bottom: 5px;
    }
    #jsGetCallback .info-message {
        font-size: 12px;
    }
    .callback-form.order .detail-info {
        margin-top: 20px;
        padding: 10px;
        font-size: 0.85em;
    }
    #user-politic-modal {
        padding: 15px;
        font-size: 0.9em;
    }
}